html {
	font-family:"Raleway", Gillsans;
}
body {
	overflow-x: hidden; 
}
h1, h2 {
	font-weight: 500;
}
img {
	max-width: 100%;
}
nav {
	webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.link-top {
	width: 3em;
	height: 3em;
	border-radius: 50%;
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 999;
	opacity: 0;

	-webkit-box-shadow: 0px 1px 8px -1px rgba(30,30,30,0.6);
	-moz-box-shadow: 0px 1px 8px -1px rgba(30,30,30,0.6);
	box-shadow: 0px 1px 8px -1px rgba(30,30,30,0.6);

}
.link-top i {
	position: relative;
	left: 8px;
	font-size: 2em;
}
.link-top.animated {
	opacity: 1;

}


.hr {
	clear: both;
	width: 100%;
	height: 3px;
	border-bottom: 1px solid #E6E6E6;
}

#text-logo {
	font-size: 4em;
	font-weight: 100;
	text-transform: uppercase;
}

.inline {
	display: inline;
}
.btn {
	font-family: Gillsans;
	text-transform: none;
	font-weight: 300;
}
.dropdown-content a {
	font-size: 14px;
}
#logo-side {
	height: 8em;
  padding: 1em;
  vertical-align: middle;
}
ul.side-nav {
	overflow: scroll;
}
.text-bold {
	font-weight: 800;
}


/* Parallax Section *******************/
.nav-t {
	top: 1em;
	width: 100%;
	z-index: 9999;
	position: absolute;
}


.brand-logo img {
	height: 1em;
	max-height: 100%;
	position: relative;
	top: 4px;
}

.aa li {
	display: inline-block;
}
.aa li a {
	padding: 0 15px;
	color: white;
}

.parallax-container {
	height: auto;
}
.logo-padding {
	padding: 9em 0;
}
.logo-padding #logo-c {
	width: 10em;
}

.arrow-s p {
	color: rgba(250,250,250,0.8);
	font-size: 0.8em;
	margin-bottom: -1em;
}
.arrow-s img {
	width: 4em;
}

/********************************/

/* Inicio */

#inicio {
	position: relative;
}

#inicio .check i {
	/*font-size: 3em;*/
}
#inicio .check {
	vertical-align: middle;
	font-size: 1.2em;
}
/**************/


.nav-point {
	/*z-index: 9999;*/
	/*opacity: 0.9;*/
	/*background: transparent;*/
	/*position: absolute;*/

/*	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;*/
}

.nav-point a {
	color: black;
}
.p-1 {
	padding: 5em 0;
}
.p-2 {
	padding: 10em 0;
}

/*  Section 2 *******/

#productos .section-2-i {
	height: 1em;
	font-size: 4em;
	line-height: 1em;
}
#productos #image-eco {
	position: relative;
	top: 8em;
	right: -1em;
}
/*****************/

/* Section 3 *********/


#contacto .facebook-icon {
	background: url(../img/facebook.svg) no-repeat;
	background-size: 1em;
  width: 2em;
  height: 100%;
  background-position: 9px 8px;
}

/**********************/


footer.page-footer {
	margin-top: 0;
	padding-top: 30px;
}

#footer-logo {
	width: 2em;
}


/****  Heaters *******/

.price {
	font-size: 2.5em;
}
/**********************/

@media only screen and (max-width: 992px) { 
	.center-on-med-and-down {
		text-align: center;
	}
	#text-logo {
		font-size: 2.5em;
	}
}



